In [64]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import random
df = pd.read_csv('girls.csv', sep=';')
df.head()

      Month  Year   G   T   B    L   W
0  December  1953  91  61  91  165  54
1     March  1954  86  61  89  168  54
2      July  1955  91  61  91  166  52
3  December  1955  91  61  91  166  52
4      July  1956  91  61  86  157  48

Сделайте более продвинутое разбиение на тестовую и тренировочную выборки. Зададим p=процент объектов, которые идут в тренировочную выборку (в тест пойдут другие 100-р процентов объектов). Сформируйте тренировочную выборку, состоящую из р процентов объектов исходной таблицы, выбранных случайно. Сформируйте тестовую таблицу, состоящую из оставшихся объектов.

In [65]:
def split(df, p):
    size = df.index.size 
    #print(size)
    all_index = np.arange(0, size, 1)
    #print(all_index)
    train_index = np.sort(np.array(random.sample(range(0, size), int(size * p))))
    #print(train_index)
    test_index = np.delete(all_index, train_index)
    #print(test_index)
    
    #print(df.loc[train_index])
    #print(df.loc[test_index])
    
    
    return [df.loc[train_index], df.loc[test_index]] #Возвращяем тренировочную таблицу и тестовую таблицу
    
    
split(df, 0.7)

[         Month  Year    G   T   B    L   W
 0     December  1953   91  61  91  165  54
 1        March  1954   86  61  89  168  54
 2         July  1955   91  61  91  166  52
 5       August  1956   94  61  91  170  55
 6      October  1956   91  61  91  166  52
 7     November  1956   99  56  91  160  58
 8     December  1956   89  58  89  157  48
 9      January  1957   91  64  91  165  54
 11    November  1957   86  56  84  157  44
 13        June  1958  102  51  91  165  54
 14    November  1958   86  57  86  165  54
 15    December  1958   86  61  86  169  54
 19        July  1959   91  61  91  160  48
 20   September  1959   86  61  86  168  50
 22    November  1959   91  56  91  161  52
 23    December  1959   89  51  89  163  50
 26       April  1960   97  58  93  163  51
 27         May  1960   91  58  91  165  57
 30      August  1960   86  58  89  163  54
 32     October  1960   86  53  86  165  52
 33    November  1960   84  46  81  157  45
 34    December  1960   94  58  89  168  54
 35     January  1961   94  53  91  165  50
 36    February  1961   91  61  91  170  54
 37       March  1961   94  56  91  163  53
 38       April  1961   91  61  91  170  57
 39         May  1961   91  56  89  160  49
 40        June  1961   91  56  86  163  48
 42   September  1961   97  56  91  165  55
 45    December  1961   89  56  89  169  52
 ..         ...   ...  ...  ..  ..  ...  ..
 554   November  2004   86  64  86  168  54
 555   December  2004   86  58  89  168  52
 558      March  2005   91  61  91  165  53
 560        May  2005   86  58  86  170  51
 562       July  2005   91  64  91  175  59
 565    October  2005   86  61  84  173  53
 570      March  2006   91  61  91  168  52
 571      April  2006   86  64  86  173  52
 572        May  2006   86  61  86  168  53
 573       June  2006   86  58  86  163  48
 574       July  2006   81  61  79  160  47
 575     August  2006   81  58  84  165  49
 577    October  2006   86  61  86  175  59
 578   November  2006   86  58  81  165  50
 579   December  2006   86  61  86  175  54
 580    January  2007   86  61  89  175  53
 581   February  2007   86  61  86  160  52
 582      March  2007   86  61  86  173  52
 583      April  2007   84  64  89  168  52
 584        May  2007   86  58  86  173  52
 586       July  2007   86  61  86  170  52
 588  September  2007   86  58  84  173  53
 590   November  2007   86  69  86  174  54
 591   December  2007   86  58  89  178  56
 595        May  2008   81  61  89  170  51
 596       June  2008   86  64  91  170  54
 597       July  2008   86  61  86  165  53
 599  September  2008   86  64  91  170  52
 600    October  2008   86  61  86  165  52
 602   December  2008   86  64  89  173  52

 [422 rows x 7 columns],          Month  Year    G   T   B    L   W
 3     December  1955   91  61  91  166  52
 4         July  1956   91  61  86  157  48
 10       March  1957   91  51  91  170  54
 12         May  1958   97  53  86  175  56
 16    February  1959  102  56  94  174  61
 17       April  1959   91  61  91  165  57
 18         May  1959   91  61  91  168  56
 21     October  1959   99  64  94  173  59
 24    February  1960   94  58  91  170  59
 25       March  1960   94  61  91  173  57
 28        June  1960   91  51  91  157  49
 29        July  1960   94  56  89  165  50
 31   September  1960   97  51  89  157  48
 41        July  1961   89  58  89  175  57
 43     October  1961   97  61  94  163  54
 44    November  1961   91  56  89  170  54
 47    February  1962   91  58  89  163  53
 48       March  1962   99  58  89  155  47
 53      August  1962   99  58  89  165  54
 56    November  1962   99  56  91  166  56
 59    February  1963   97  56  91  165  54
 60       March  1963   97  56  91  170  57
 62         May  1963   91  58  91  163  50
 64        July  1963   99  61  91  165  56
 66   September  1963   89  56  89  160  50
 69    December  1963   97  56  94  163  54
 74         May  1964   91  58  91  165  53
 75        June  1964   86  58  86  159  50
 76        July  1964   99  56  89  157  50
 82     January  1965   89  56  86  165  50
 ..         ...   ...  ...  ..  ..  ...  ..
 515     August  2001   81  56  81  160  48
 523      April  2002   86  56  76  163  44
 525       June  2002   81  58  84  160  47
 528  September  2002   86  61  91  178  57
 530   November  2002   86  64  86  173  59
 536        May  2003   86  61  89  173  52
 537       June  2003   86  61  86  163  50
 540  September  2003   86  64  89  178  59
 544    January  2004   86  64  86  157  49
 551     August  2004   86  64  86  166  50
 556    January  2005   91  61  61  165  50
 557   February  2005   91  71  91  168  58
 559      April  2005   86  61  86  160  48
 561       June  2005   86  61  86  168  50
 563     August  2005   86  61  86  173  52
 564  September  2005   91  64  91  168  54
 566   November  2005   86  58  89  163  50
 567   December  2005   86  61  86  165  52
 568    January  2006   86  64  91  168  54
 569   February  2006   81  61  86  165  50
 576  September  2006   91  66  91  168  50
 585       June  2007   86  61  89  170  51
 587     August  2007   84  61  86  168  49
 589    October  2007   81  69  91  163  50
 592    January  2008   89  66  89  175  56
 593   February  2008   81  61  89  170  52
 594      March  2008   81  53  89  163  49
 598     August  2008   86  61  86  157  48
 601   November  2008   86  53  81  168  49
 603    January  2009   86  60  91  170  55

 [182 rows x 7 columns]]

Напишите код, который корректно вычисляет МАРЕ. Дело в том, что при вычислении МАРЕ может произойти деление на 0 (это случается с объектами, у которых истинное значение целевого признака равно 0). Давайте поступим так: при вычислении МАРЕ будем игнорировать такие объекты (их в сумму не включать). Естественно, делить потом нужно не на объем всей выборки, а на число корректных объектов.

In [86]:
#Возьмем тестовые
test_df = split(df, 0.7)[1]
#Сделаем некоректные 
a = [['June', 2018, random.randint(test_df['G'].min(),test_df['G'].max()), random.randint(test_df['T'].min(),test_df['T'].max()), random.randint(test_df['B'].min(),test_df['B'].max()), random.randint(test_df['L'].min(),test_df['L'].max()), 0] for i in range(0, random.randint(5,10))]
not_correct_test_df = pd.DataFrame(a, columns=['Month', 'Year', 'G', 'T', 'B', 'L', 'W'])
#Добавим их
test_df = test_df.append(not_correct_test_df, ignore_index=True)

#Сгенерируем случайнуй столбик с предсказаными значениями
test_df['W_pred'] = np.random.randint(test_df['W'].max(), size=test_df.shape[0])

#print(random_predicted)

test_df

         Month  Year    G   T   B    L   W  W_pred
0      October  1956   91  61  91  166  52      40
1     December  1956   89  58  89  157  48      15
2     November  1957   86  56  84  157  44      28
3         June  1958  102  51  91  165  54      22
4     December  1958   86  61  86  169  54       8
5        April  1959   91  61  91  165  57      14
6    September  1959   86  61  86  168  50       4
7         July  1960   94  56  89  165  50      13
8    September  1960   97  51  89  157  48      25
9      October  1960   86  53  86  165  52      28
10    February  1961   91  61  91  170  54      47
11    February  1962   91  58  89  163  53      35
12       April  1963   94  61  91  174  62      42
13        June  1963   86  58  86  168  52      25
14    February  1964   91  53  91  168  48      18
15        June  1964   86  58  86  159  50      17
16     October  1964  104  64  97  168  66      46
17    February  1965   91  58  91  165  52      10
18       April  1965   86  51  86  150  44      31
19      August  1965   86  56  91  168  52      53
20     October  1965   91  61  91  168  53       8
21     January  1966   91  56  86  160  45      38
22    February  1966   97  58  91  163  54      23
23       March  1966   86  48  89  157  48      25
24     October  1966   99  61  91  165  57      16
25    November  1966   89  58  89  173  60       6
26         May  1967   89  58  89  163  49      38
27      August  1967   86  53  84  157  44       2
28     October  1967  102  64  89  178  61      14
29    December  1967   86  58  86  152  45      54
..         ...   ...  ...  ..  ..  ...  ..     ...
161   November  2001   86  61  89  173  54      52
162   December  2001   86  61  86  173  53      44
163   February  2002   86  58  89  178  57      25
164  September  2002   86  61  91  178  57      28
165     August  2003   86  64  91  170  57       0
166    January  2004   86  64  86  157  49      22
167      March  2004   86  56  86  163  47      50
168      April  2004   86  64  89  177  58      12
169      April  2005   86  61  86  160  48       5
170        May  2005   86  58  86  170  51      23
171       June  2005   86  61  86  168  50      47
172   November  2005   86  58  89  163  50      51
173   December  2005   86  61  86  165  52      23
174      March  2006   91  61  91  168  52      25
175   December  2006   86  61  86  175  54      65
176      March  2007   86  61  86  173  52      20
177      April  2007   84  64  89  168  52      18
178        May  2007   86  58  86  173  52      57
179       June  2007   86  61  89  170  51      48
180   November  2007   86  69  86  174  54      20
181   February  2008   81  61  89  170  52      49
182       June  2018  102  48  80  169   0      42
183       June  2018   87  52  94  155   0      49
184       June  2018   96  54  83  177   0      17
185       June  2018  102  57  92  177   0      10
186       June  2018   95  68  92  158   0      32
187       June  2018   95  64  94  155   0      24
188       June  2018   99  54  93  179   0      64
189       June  2018   87  59  82  175   0      21
190       June  2018   89  52  87  155   0      10

[191 rows x 8 columns]

In [87]:
def MAPE(test, name_of_column, predicted):
    n = 0
    result = 0
    
    for i in range(0, test.shape[0]):
        if test[name_of_column][i] != 0:
            n += 1
            result += abs(test[name_of_column][i] - predicted[i]) / abs(test[name_of_column][i])
    
    print(n)
    #print(df.shape[0])
    
    return 100 * (result / n)
   
print(MAPE(test_df, 'W', random_predicted))




#Так как n=182 то значит не включены обьекты ,которых истинное значение целевого признака равно 0

182
42.16227718605272